{% extends 'base.html' %}

{% block content %}
<div class="jumbotron text-center" style="background: linear-gradient(45deg, #000000, #2c2c2c); background-size: 200% 200%; color: white; margin-top: 1.5rem; padding: 4rem; border-radius: 10px; animation: shimmer 5s ease-in-out infinite;">
    <h1 class="display-4">URLShort Url Shortener</h1>
    <p class="lead">Simplify your URLs quickly and easily.</p>
    <a href="/create/"><button type="button" class="btn-custom btn-lg">Create New URL</button></a>
</div>


{% endblock content %}
